body {
  font-family: 'League Spartan', sans-serif;
  margin: 20px;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 24px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}
.header h1 {
  font-size: 35px;
  margin: 0;
  line-height: 1.25;
}
.item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-height: 65px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.25;
}
.item img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 15px;
}
.item a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  overflow-wrap: anywhere;
}
.item a:hover {
  color: #555;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tabs a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #f9f9f9;
  font-size: 18px;
  color: #333;
}
.tabs a.active {
  background: #007bff;
  color: #fff;
}
.tabs a:hover {
  background: #0056b3;
  color: #fff;
}
.cc-align {
  display: grid;
  margin-left: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
  padding: 30px;
}
.card-container {
  width: 375px;
  gap: 30px;
  padding: 30px;
  justify-items: center;
  box-sizing: border-box;
}
.card {
  width: 375px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.thumbnail {
  height: 211px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}
.info {
  padding: 10px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}
.title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.date {
  font-size: 16px;
  color: #999;
  margin: 0;
}
.watch-btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}
.watch-btn:hover {
  background-color: #0056b3;
}
.watch-btn.disabled {
  background-color: #d6d6d6;
  color: #8a8a8a;
  cursor: not-allowed;
}
.quality-btn {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}
.quality-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.quality-btn:active {
  transform: scale(0.95);
}
#stream-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#stream-overlay iframe {
  width: 85%;
  height: 80%;
  border: none;
  border-radius: 10px;
}
.overlay-header {
  position: absolute;
  top: 10%;
  width: 85%;
  height: 35px;
  background-color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}
.close-btn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  fill: #fff;
}
